@font-face {
  font-family: "Sora";
  font-style: normal;
  font-weight: 400 800;
  font-display: block;
  src: url("./sora-latin.woff2") format("woff2");
}

@font-face {
  font-family: "Newsreader";
  font-style: italic;
  font-weight: 400 500;
  font-display: block;
  src: url("./newsreader-italic-latin.woff2") format("woff2");
}

@font-face {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("./space-mono-400-latin.woff2") format("woff2");
}

@font-face {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: url("./space-mono-700-latin.woff2") format("woff2");
}
